body{
  background: var(--bg-img) no-repeat center/cover;
  
 height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-img:url(./assets/bg-mobile.jpg);
  --bg-solua: url(./assets/moon-stars.svg);
  --color-wb: white;
  --color-span:rgba(255,255,255, 0.4);
  --color-a:rgba(255,255,255, 0.2);
  --color-bordera:rgba(255,255,255, 0.5);
  --color-ahover:rgba(255,255,255, 0.1);
  --color-socialhover:rgba(255,255,255, 0.2);
}

.light{
  --bg-img:url(./assets/bg-mobile-light.jpg);
  --bg-solua: url(./assets/sun.svg);
  --color-wb: black;
  --color-span:rgba(0, 0, 0, 0.1);
  --color-a:rgba(0,0,0, 0.2);
  --color-bordera:rgba(0,0,0, 0.5);
  --color-ahover:rgba(0,0,0, 0.1);
  --color-socialhover:rgba(0,0,0, 0.2);
}

body * {
  font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
color: var(--color-wb);
}

#container{
  width: 360px;
  margin: auto;
  margin-top: 56px;

}

#profile{
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 114px;
}

#profile p {
  margin-top: 8px;
}

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;

}

span{
  display: flex;
  width: 64px;
  height: 24px;

  background: var(--color-span);

  border-radius: 9999px;
}

button{
  display: flex;
  width: 32px;
  height: 32px;
  
  background: rgba(255,255,255, 1) var(--bg-solua) no-repeat center;

  border: 0;
  border-radius: 50%;

  position: absolute;
  transform: translateY(-50%);
  top: 50%;

  z-index: 1;

  animation: slid-in 1s;

}

.light #switch button{
  animation: slid-back 1s forwards;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 16px;
  gap: 16px
}

ul li a{
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding:16px;

  background: var(--color-a);

  border: 1.5px solid var(--color-bordera);
  border-radius: 8px ;

  transition: background 1.5s;
}

ul li a:hover{
  background: var(--color-ahover);
  border: 1.8px solid var(--color-wb);
}

#sociallinks{
  display: flex;
  font-size: 24px;
  padding: 24px;
  justify-content: center;
}

#sociallinks a {
  display: flex;
  border-radius: 50%;
  padding: 16px;
}

#sociallinks a:hover{
  background: var(--color-socialhover);
}

footer{
  display: flex;
  justify-content: center;
  padding: 24px;  
}

@media (min-width:700px){
  :root{
   --bg-img:url(./assets/bg-desktop.jpg);   
  }

  .light{
    --bg-img:url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slid-in {
  from{
    left: 50%;
  }
  to{
    left: 0;
  }

}

@keyframes slid-back {
  from {
    left: 0;
  }
  to{
    left: 50%;
  }
}